body{
    text-align: center;
}
button {
    width: 100px;
    height: 60px;
    font-size: 15px;
    border: 1px solid #444444;  /* ボーダーを設定 */
    background-color: #ebe82f;
    margin: 0 30px;
    user-select: none; /* 文字の選択を禁止する */
    border-radius: 5px;
}
Button:hover {
    font-size: 15px;
    border: 1px solid #000000;  /* ボーダーを設定 */
    background-color: #fff22b;
    margin: 0 30px;
}
Button:active {
    font-size: 15px;
    border: 1px solid #444444;  /* ボーダーを設定 */
    background-color: #ebe82f;
    margin: 0 30px;
}
#hint_button {
    font-size: 15px;
    border: 1px solid #444444;  /* ボーダーを設定 */
    background-color: #ffffff;
    margin: 0 30px;
}
[data-id="dragged-item"] {
    user-select: none; /* 文字の選択を禁止する */
    text-align: center;  /* 文字の水平位置を中央寄せ */
    overflow: hidden; /* はみ出た部分を非表示にする */
    touch-action: none;  /* スクロールやズームの禁止 */
}
[data-id="dragged-item"]:hover {
    background-color: #fff22b;  /* 背景色の設定 */
}
.dragged-item {  /* 漢字パーツのドロップ前スタイル */
    background-color: #ebe82f;  /* 背景色の設定 */
    border: 1px solid #000000;  /* ボーダーを設定 */
    margin: 5px;
    font-size: 65px;
    width: 70px;
    height: 70px;
    line-height: 1;  /* 行の高さをフォントサイズと同じにする */
}
.dragged-item-to-drop {  /* 漢字パーツのドロップ後スタイル */
    background-color: #ebe82f;  /* 背景色の設定 */
    margin: 0px;
    font-size: 1em;  /* 親要素と同じ文字サイズ */
    width: 100%;
    height: 100%;  /* 縦幅、横幅を親要素の100%にする */
    line-height: inherit;  /* 行の高さを親要素と同じにする */
}
.dragged-item-to-drop-center {  /* 漢字パーツのドロップ後スタイル */
    background-color: rgba(235, 232, 47, 0.5);  /* 背景色の設定 */
    margin: 0px;
    font-size: 1em;  /* 親要素と同じ文字サイズ */
    width: 100%;
    height: 100%;  /* 縦幅、横幅を親要素の100%にする */
    line-height: inherit;  /* 行の高さを親要素と同じにする */
}
.kanji-table_grid {  /* 漢字パーツを設置するテーブルを設置するコンテナを設置するコンテナ */
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4列 */
    gap: 0px;
    place-items: center; /* 横・縦どちらも中央寄せ */
    height: 200px;
}
.kanji-yomi {  /* 漢字の読み仮名 */
    line-height: 1;
    font-weight: bold;
}
#yojijukugo_meaning {
    font-size: 20px;
    line-height: 1;
    height: 40px;
}
#kanjiPartsContainer {  /* 漢字パーツを設置するコンテナ */
    display: flex;
    flex-wrap: wrap;
    height: 160px;
    border-radius: 25px;
    padding: 0 20px;
    border: 1px solid #000000;  /* ボーダーを設定 */
    margin: 10px;
}
#message-bg {
    position: absolute;  /* bodyを基準にした絶対位置指定 */
    top: 0;
    left: 0;
    width: 100%;
    display: none;  /* 初期値は非表示 */
}
#message {
    user-select: none; /* 文字の選択を禁止する */
    position: fixed;  /* ウィンドウサイズを基準にした絶対位置指定 */
    top: 50%;
    left: 50%;  /* 要素の左上をbodyの中央に設定 */
    transform: translate(-50%, -50%);  /* 要素の左上をbodyの中央から要素の横、縦幅分左上に移動させる */
    font-size: 300px;  /* フォントサイズの指定 */
    line-height: 100%;  /* 行の高さをフォントサイズと同じにする */
    margin: 0;
    padding: 0;
    color: green;  /* 文字色を指定 */
    display: none;  /* 初期値は非表示 */
}
table {
    border-collapse: collapse;  /* 全てのテーブルの枠線を重ねて表示する */
}
div.drop-target,  /* 漢字パーツをドロップできるdiv、td下のdiv下の漢字パーツをドロップできるdiv */
td div div.drop-target {
    border: solid, 1px, #000000;  /* セルのボーダーを設定 */
    background-color: white;
    overflow: hidden;  /* はみ出た部分を非表示にする */
}
td {  /* 全てのセル */
    border: solid, 1px, #000000;  /* セルのボーダーを設定 */
    padding: 0px;
}
td div.drop-target {  /* td下のドロップターゲット */
    border: none;
}
.correctKanji {
    border: solid, 1px, #000000;  /* ボーダーを設定 */
    width: 100px;
    height: 100px;
    background-color: white;
    font-size: 90px;
    line-height: 1;  /* 行の高さをフォントサイズと同じにする */
}
.t1 td div {
    width: 50px;
    height: 100px;
    line-height: 100px;
    font-size: 45px;
}
.t2 td div {
    width: 100px;
    height: 50px;
    line-height: 50px;
    font-size: 45px;
}
.t3 td div {
    width: 33px;
    height: 100px;
    line-height: 100px;
    font-size: 30px;
}
.t4 td div {
    width: 100px;
    height: 33px;
    line-height: 33px;
    font-size: 30px;
}
.Outside {
    position: relative;
    width: 100px;
    height: 100px;
    line-height: 100px;
    font-size: 90px;
}
.Inside {
    position: absolute;
    top: 24px;
    left: 24px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 45px;
}
.TopOutside {
    position: relative;
    width: 100px;
    height: 100px;
    line-height: 100px;
    font-size: 90px;
}
.BottomInside {
    position: absolute;
    top: 49px;
    left: 24px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 45px;
    border-bottom: none;  /* 下側のボーダーを消す */
}
.BottomOutside {
    position: relative;
    width: 100px;
    height: 100px;
    line-height: 100px;
    font-size: 90px;
}
.TopInside {
    position: absolute;
    top: 0px;
    left: 24px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 45px;
    border-top: none;  /* 上側のボーダーを消す */
}
.LeftOutside {
    position: relative;
    width: 100px;
    height: 100px;
    line-height: 100px;
    font-size: 90px;
}
.RightInside {
    position: absolute;
    top: 24px;
    left: 49px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 45px;
    border-right: none;  /* 右側のボーダーを消す */
}
.TopLeftOutside {
    position: relative;
    width: 100px;
    height: 100px;
    line-height: 100px;
    font-size: 90px;
}
.BottomRightInside {
    position: absolute;
    top: 49px;
    left: 49px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 45px;
    border-right: none;  /* 右側のボーダーを消す */
    border-bottom: none;  /* 下側のボーダーを消す */
}
.TopRightOutside {
    position: relative;
    width: 100px;
    height: 100px;
    line-height: 100px;
    font-size: 90px;
}
.BottomLeftInside {
    position: absolute;
    top: 49px;
    left: 0px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 45px;
    border-left: none;  /* 左側のボーダーを消す */
    border-bottom: none;  /* 下側のボーダーを消す */
}
.BottomLeftOutside {
    position: relative;
    width: 100px;
    height: 100px;
    line-height: 100px;
    font-size: 90px;
}
.TopRightInside {
    position: absolute;
    top: 0px;
    left: 49px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 45px;
    border-right: none;  /* 右側のボーダーを消す */
    border-top: none;  /* 上側のボーダーを消す */
}
.Center {
    position: relative;  /* 中に入った漢字パーツの絶対位置指定の基準にする */
    width: 100px;
    height: 100px;
    line-height: 100px;
    font-size: 90px;
}
.Single {
    width: 100px;
    height: 100px;
    line-height: 100px;
    font-size: 90px;
}
.t14 .Top {
    width: 101px;
    height: 50px;
    line-height: 50px;
    font-size: 45px;
}
.t14 .Left,
.t14 .Right {
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 45px;
}
.t15 .Left{
    width: 50px;
    height: 101px;
    line-height: 101px;
    font-size: 45px;
}
.t15 .Top,
.t15 .Bottom {
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 45px;
}
.t16 .Left,
.t16 .Right {
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 45px;
}
.t16 .Bottom {
    width: 101px;
    height: 50px;
    line-height: 50px;
    font-size: 45px;
}
.t17 .Top,
.t17 .Bottom{
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 45px;
}
.t17 .Right {
    width: 50px;
    height: 101px;
    line-height: 101px;
    font-size: 45px;
}
.t18 div {
    width: 100px;
    height: 25px;
    line-height: 25px;
    font-size: 22px;
}
.t19 div {
    width: 100px;
    height: 50px;
    line-height: 50px;
    font-size: 45px;
}
.t20 .TopLeftOutside {
    position: relative;  /* 中に入った漢字パーツの絶対位置指定の基準にする */
    width: 100px;
    height: 100px;
    line-height: 100px;
    font-size: 90px;
}
.t20 .Top {
    position: absolute;
    top: 49px;
    left: 49px;
    width: 50px;
    height: 25px;
    line-height: 25px;
    font-size: 20px;
    border-right: none;  /* 右側のボーダーを消す */
}
.t20 .Bottom {
    position: absolute;
    top: 75px;
    left: 49px;
    width: 50px;
    height: 25px;
    line-height: 25px;
    font-size: 20px;
    border-right: none;  /* 右側のボーダーを消す */
}
.t21 .BottomLeftOutside {
    position: relative;  /* 中に入った漢字パーツの絶対位置指定の基準にする */
    width: 100px;
    height: 100px;
    line-height: 100px;
    font-size: 90px;
}
.t21 .Top {
    position: absolute;
    top: 0px;
    left: 49px;
    width: 50px;
    height: 25px;
    line-height: 25px;
    font-size: 15px;
    border-right: none;  /* 右側のボーダーを消す */
    border-top: none;  /* 上側のボーダーを消す */
}
.t21 .Bottom {
    position: absolute;
    top: 25px;
    left: 49px;
    width: 50px;
    height: 25px;
    line-height: 25px;
    font-size: 20px;
    border-right: none;  /* 右側のボーダーを消す */
}
.t22 .Top{
    width: 100px;
    height: 50px;
    line-height: 50px;
    font-size: 45px;
}
.t22 .BottomLeftOutside {
    position: relative;
    width: 100px;
    height: 50px;
    line-height: 50px;
    font-size: 45px;
}
.t22 .TopRightInside {
    position: absolute;
    top: 0px;
    left: 49px;
    width: 50px;
    height: 25px;
    line-height: 25px;
    font-size: 20px;
    border-top: none;
    border-right: none;  /* 右側のボーダーを消す */
}
.t23 .Left {
    width: 50px;
    height: 100px;
    line-height: 100px;
    font-size: 45px;
}
.t23 .Center {
    width: 50px;
    height: 100px;
    line-height: 100px;
    font-size: 45px;
}
.t24 .Top {
    width: 100px;
    height: 50px;
    line-height: 50px;
    font-size: 45px;
}
.t24 .TopOutside {
    position: relative;
    width: 100px;
    height: 50px;
    line-height: 50px;
    font-size: 45px;
}
.t24 .BottomInside {
    position: absolute;
    top: 24px;
    left: 24px;
    width: 50px;
    height: 25px;
    line-height: 25px;
    font-size: 20px;
    border-bottom: none;
}
.t25 .Left {
    width: 50px;
    height: 100px;
    line-height: 100px;
    font-size: 45px;
}
.t25 .TopRightOutside {
    position: relative;
    width: 50px;
    height: 100px;
    line-height: 100px;
    font-size: 45px;
}
.t25 .BottomLeftInside {
    position: absolute;
    top: 49px;
    left: 0px;
    width: 25px;
    height: 50px;
    line-height: 50px;
    font-size: 20px;
    border-bottom: none;
    border-left: none;
}